{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

  {% for file in files %}
  <header>
    <div>
      <h1>{{ file['title'] }}</h1>
      <div class="about">by {{ file['username'] }} on {{ file['created'].strftime('%Y-%m-%d') }}</div>
    </div>
  </header>
  {% endfor %}

  <div id="container-ide">
    <!-- <div class="container"> -->
      {% include 'sopranoIDE/ladoIzquierdo.html' %}
      {% include 'sopranoIDE/ladoDerecho.html' %}
    <!-- </div> -->
  </div>

{% endblock %}