<div class="lado-der">

	<button class="red-play-button tooltip">		
		Play
        <span class="tooltip-text">F10</span>    
	</button>

	<section class="glass-container" id="mp3">
		<h2>mp3</h2>
		<article>
			<!-- <h2>mp3</h2> -->
		</article>
	</section>
	
	<section class="glass-container" id="Partituras">
		<h2>Partituras</h2>
	</section>
	
	<section class="glass-container" id="OtrosA">
		<h2>Otros archivos generados</h2>
		<!-- 
		<ul>
		<li>
			<a href="#">musica.midi</a>
			<small>descargar</small>
		</li>
		</ul> 
		-->
	</section>

</div>
