<div class="lado-izq">
    
    <button form="codigo-fuente-form" type="submit" id="submit-code" class="green-play-button tooltip">
        <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30"  viewBox="0 0 384 512">
            <path fill="#00ff00" d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/>
        </svg>
        <span class="tooltip-text">F9</span>
    </button>

    <section class="codigo-fuente">
        <form action="{{url_for('sopranoIDE.index')}}" id="codigo-fuente-form" method="post">
            <div class="archivo-info">
                <div>
                    <label for="filename">Nombre: </label>
                    <input autocomplete="off" type="text" autofocus placeholder="Archivo" required name="filename" id="filename">
                    <small for="filename">.spr</small>
                </div>
                <div>
                    <label id="first_proc_label" for="first_proc">Main: </label>
                    <input autocomplete="off" type="text" placeholder="Primer procedimiento" required name="first_proc" id="first_proc">
                </div>
            </div>
            <textarea required minlength="5" maxlength="3000" autocomplete="off" placeholder="Empieza a escribir..." rows="40" name="codigo" id="codigo"></textarea>
        </form>
    </section>
    
  <section>
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="flash" style="margin: 10px;">
      <small onclick="$(this.parentElement).fadeOut();">
      close</small>
      {{ message }}
    </div>
    {% endfor %}
  </section>
</div>