<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %} - Soprano</title>
    {% endblock %}
</head>
<body>
  
  <div id="header">{% include 'header.html' %}</div>
  
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2024 by <a href="https://github.com/AdrianVvazquez/Soprano">AdrianVvazquez</a>.
    {% endblock %}
  </div>

  <script src="{{url_for('static', filename='readCode.js')}}"></script>
</body>
</html>

