
<nav>
    <ul>
        <li>
            <a class="logo" href="{{url_for('index')}}">
                <img src="{{url_for('static', filename='icons/logo_svg.svg')}}" width="70px" alt="Logo">
                <h1>Soprano IDE</h1>
            </a>
        </li>
    {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
        <li><a href="{{ url_for('auth.registrarse') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
    </ul>
</nav>

<div class="header-cinta">
    <div class="header-buttons">
        <img src="{{url_for('static',filename='icons/Play_circle_filled.svg')}}" onclick="$('#submit-code').click();" alt="Play">
        <img src="{{url_for('static', filename='icons/Stop_circle.svg')}}" alt="Stop">
    </div>
    <form action="{{url_for('sopranoIDE.upload_file')}}" id="nuevo-archivo" method=post enctype=multipart/form-data>
        <input type=file name=file required>
        <input id="upload" name="upload" type=submit value=Subir>
    </form>
    {% if error %} <p class="error">{{error}}</p>
    {% else %} <p hidden></p>
    {% endif %}


</div>
