{% extends "sopranoIDE/layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <div id="login">
        <img src="../static/icons/logo_svg.svg" width="213" alt="Soprano logo">
        <h1>Login</h1>
        <form action="{{ url_for('auth.login') }}" method="post" class="form login-form">
            <div>
                <label for="email">Correo</label>
                <input name="email" id="email" type="text" required>
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input name="password" id="password" type="password" required>
            </div>
            <a href="{{ url_for('auth.registrarse') }}">
                <small>¿No tienes una cuenta? Registrate</small>
            </a>
            <button type="submit">Login</button>
            {% if error == "Invalid email/password" %} <p class="error">Correo/contraseña inválido.</p>
            {% else %} <p hidden></p>
            {% endif %}
        </form>
    </div>
{% endblock %}